# Ignore the executable file
fistr

# Ignore the files in discarded folder
/discarded/*

# Ignore the temp files
*~

# Ignore binary files from the examples folder
/examples/*
!/examples/*.c
!/examples/*.sh
